
.webpageBody{
    padding: 1em 5em 1em 5em;
    background-image: url(images/Table-Mountain_GettyImages.webp);
    background-position: center;
}

.langBody{
    background-image: url(images/swahiliPic.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
td{
    text-align: center;
}

@media(min-width:960px){
    .navBlock{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: white;
        background-color: gray;
        padding: 0em 3em 0em 3em;
    }
    .headerText, .cityHeading, .langText, h1{
        text-align: center;
    }
    .profilePicture{
        width: 500px;
        border: 1px solid black;
        border-radius: 55px;
        display: inline-block;
        margin-right: 70px;
    }

    #name, #Profession, #citizenShip, #description{
        margin-bottom: 0px;
        color: white;
        line-height: 25px;
        width: 500px;
    }
   
    .flexContainer{
        display: flex;
    }
    .addressContainer{
        display: flex;
        justify-content: space-between;
    }
    .iconFlex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .addressIcon, .callIcon, .messageIcon{
        display: inline-block;
        width: 100px;
        padding-left: 0;
        border-radius: 50px;
    }

    .residentialAdd, .personalContact, .personalMessage{
        display: inline-block;
        text-align: top;
        color: white;
    }
    .cityHeading{
        font-style: italic;
    }

    .istanbulImg{
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
    }

    .aboutIstanbul{
        background-color: yellowgreen;
        line-height: 25px;
        font-size: 16px;
        width: 80%;
        border: 1px solid black;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
    }

    .centerTable{
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 200px;
        background-color: yellowgreen;
        color: white;
        font-size: 18px;
        border-radius: 7px;
        border: 1px solid gray;
    }
    #subjectsBody, #historicBody{
        background-color: burlywood;
    }
    #subjectFlex{
        display: flex;
        margin-bottom: 50px;
    }

    #subjectInfo{
        width: 75%;
       /* margin-left: 10%;
        margin-right: 40%;*/
    }
    .subjectImg{
        width: 100%; 
    }
    .subjectImg01{
        width: 75%;
    }
    .subjectImg02{
        width: 95%;
    }

}
